<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Object Detection with Maps Static API and Machine Learning</title>
    <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">
      Object Detection with Maps Static API and Machine Learning
    </h1>
    <p>
      Please enter four different addresses or names to form a 4-point polygon
      (a path). Objects inside this polygon will be detected for later analysis.
    </p>
    <form action="/result" method="post">
      <!-- Addresses -->
      <label for="address1">First address:</label><br />
      <input type="text" id="address1" name="address1" /><br /><br />

      <label for="address2">Second address:</label><br />
      <input type="text" id="address2" name="address2" /><br /><br />

      <label for="address3">Third address:</label><br />
      <input type="text" id="address3" name="address3" /><br /><br />

      <label for="address4">Fourth address:</label><br />
      <input type="text" id="address4" name="address4" /><br /><br />

      <!-- Path parameters -->
      <p>
        Please specify a path color either as a 24-bit
        <b>(example: 0xFFFFCC)</b> or 32-bit hexadecimal value
        <b>(example: 0xFFFFCCFF)</b>, or from the set
        <b
          >{black, brown, green, purple, yellow, blue, gray, orange, red,
          white}</b
        >
      </p>
      <label for="color">Path color:</label><br />
      <input type="text" id="color" name="color" /><br /><br />

      <p>Please specify a path thickness, 2 or 3 is recommended.</p>

      <label for="weight">Path thickness:</label><br />
      <input type="text" id="weight" name="weight" /><br /><br />

      <!-- Map parameters -->
      <p>
        Maps on Google Maps have an integer 'zoom level' which defines the
        resolution of the current view. Zoom levels between <b>0</b> (the lowest
        zoom level, in which the entire world can be seen on one map) and
        <b>21+</b> (down to streets and individual buildings) are possible
        within the default roadmap view. Building outlines, where available,
        appear on the map around zoom level <b>17</b>. This value differs from
        area to area and can change over time as the data evolves.
      </p>
      <label for="zoom">Map zoom level:</label><br />
      <input type="text" id="zoom" name="zoom" /><br /><br />

      <p>
        Maximum allowable values for the size of the map is
        <b>640x640</b> pixels.
      </p>

      <label for="size">Map size:</label><br />
      <input type="text" id="size" name="size" /><br /><br />

      <p>Available map types: roadmap, satellite, terrain, hybrid.</p>

      <label for="maptype">Map type:</label><br />
      <input type="text" id="maptype" name="maptype" /><br /><br />

      <input type="submit" value="Generate Map" /><br /><br />
    </form>

    {% if image_url %}
    <h2>Generated Map:</h2>
    <p>{{ image_url }}</p>
    <img src="{{ image_url }}" alt="Generated Image" />
    {% endif %}

    <!-- <img src="{{ image_url }}" alt="Displayed Image" /> -->
  </body>
</html>
